.modal__content_type_image {
    padding: 0;
    max-width: 498px;
    position: absolute;
    top: 136px;
    height: 610px;
  }
  
  .modal__footer {
    padding: 20px 32px 32px;
    border-radius: 16px;
    font-weight: 700;
    font-family: "CabinetGrotesk";
  }
  
  .modal__weather {
    margin: 0;
    font-size: 20px;
  }
  
  .modal__caption {
    margin: 0 0 12px;
    font-size: 20px;
  }
  
  .modal__image {
    width: 496px;
    height: 498px;
    object-fit: cover;
    border-radius:16px 16px 0 0  ;
  }
  .modal__delete{
    height: 24px;
    background-color:transparent;
    color: #FF4D00;
    border: none;
    font-family: "Cabinet grotesk";
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    right:32px;
    bottom: 65px;
    padding: 0;
    
  }
  .modal__error_noOwner{
    color: red;
    position: relative;
    top:-70px;
    left: 240px;
  }